/*font-style source*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Permanent Marker, sans-serif;
    font-size: 1.6rem;
    color: #fff;
    background-color: #3A383B;
}

    /*DEFAULT TEXT STYLING FOR H1, H2, H3, H4, P */
h1, h2 {
    font-family: Permanent Marker, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
    margin: 10px 0px;
}
h3, h4 {
    font-family: Open Sans,sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: #B0B0BF;
}
p {
    font-family: Open Sans,sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
/*CONTAINER FOR ALL TEXT H2 H3 H4*/
.container {
    text-align: center;
    color: #fff;
    max-width: 100%;
    padding: 1rem;
}
.container h2, h3, h4 {
    text-align: center;
    color: #fff;
} 
/*LISTEN PAGE SECTION FOR IMAGES*/
.section {
    background-color: #333231;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    max-width: 100%;
    margin: 5rem auto;
 }




/*FOR BROSWER SIZE SCREENS*/

    #main-icon {
        float: left;
        margin-left: 3rem;
        line-height: 100px;
        
    }
    #main-icon h1 {
        font-size: 5rem;
        color: #66666B;   
    }
    
    #nav-menu {
        font-size: 110%;
        letter-spacing: 4px;
        line-height: 8rem;
    }
    #nav-menu li {
        float: right;
        list-style: none;
        margin-right: 4rem;
    }
    #nav-menu a {
        text-decoration: none;
        color: inherit;
    }
    #nav-menu a:hover {
        border-bottom: 2px solid #F0EDF5;
    }
    
    /*need to sort out container for images*/
    
    .hero-image {
        width: 100%;
        height: auto;
    }
    img {
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        object-fit: cover;
        margin: 30px 0px;
    }
    /*Text Divider*/
    .text-divider {
        width: 100%;
        height: 2px;
        margin:30px 0px 30px 0px;
        background-color: white;
        display: inline-block;
    }
    /*LINKS TO LISTEN PAGE */
    .stories {
        width: 40%;
        float: left;
        margin-left: 30px;
        margin-right: 40px;
        padding: 30px;
    }
    .stories img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 10px;
    }
    .stories a  {
        text-align: center;
        text-decoration: none;
    }
    
    /*FOOTER SECTION*/
    footer {
        height: 150px;
    }
    .social-networking {
        text-align: center;
    }
    .social-networking  li  {
        display: inline;
    }
    .social-networking i {
        font-size: 4rem;
        margin: 1%;
        padding: 5%;
        color: #fff;
    }
    
    /* GALLERY.HTML PAGE*/
    #about {
        margin-left: 30px;
        margin-top: 50px;
        clear: both;
    }
    /*LISTEN.HTML PAGE*/
     .section {
        background-color: #333231;
        display: flex;
        justify-content: space-between;
        padding: 40px;
        max-width: 100%;
        margin: 5rem auto;
     }
     .section img {
        max-width: 40rem;
        height: 400px;
        margin-top: 2.5rem;
        border-radius: 8px;
        display: block;
     }
     .text h2 {
        text-align: center;
        color: #B50273;
        margin-top: 40px;
        padding: 0px 10px;
    }
     .text p {
        color: #fff;
        text-align: center;
        margin: 2.5rem 1rem;
        
     }
     a {
        list-style: none;
        text-decoration: none;
     }

     a h3 {
        color: #000000;
     }
     

