/*font-style source*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth; /* need to chech if this works correctly!! */
}
body {
    font-family: Permanent Marker, sans-serif;
    font-size: 170%;
    color: #fff;
    background-color: #3A383B;
    scroll-behavior: smooth; /* need to chech if this works correctly!! */
}

    /* DEFAULT TEXT STYLING FOR H1, H2, H3, H4, P ???? */
h1, h2 {
    font-family: Permanent Marker, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2%;
    color: #000000;
    margin: 5px;
}
/* for mobile screen sizes max-width 575px */
@media screen and (max-width: 575px){
    h2 {
        font-size: 100%;
    }
}

h3, h4 {
    font-family: Open Sans,sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: #B0B0BF;
}
 /* for mobile screen sizes max-width 575px */
 @media screen and (max-width: 575px) {
    h4 {
        font-size: 80%;
    }
   
 }
p {
    font-family: Open Sans,sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
/* CONTAINER FOR ALL TEXT H2 H3 H4 */

h3, h4 {
    text-align: center;
    color: #fff;

} 
/*for browser screen sizes*/

/* main icon (clickable icon navagates to home sreen) */
    #main-icon {
        display: flex;
        float: left;
        margin-left: 1%;
        margin-top: 1%;
    }
    #main-icon h1 {
        font-size: 300%;
        color: #66666B;   
        clear: both;
    }
    /* for browser screen sizes max-width 1200px */
    @media screen and (max-width: 1200px) {
        #main-icon h1 {
            font-size: 200%;
        }
    }
     /* for mobile screen sizes max-width 575px */
    @media screen and (max-width: 575px) {
        #main-icon h1 {
            display: none;
        }
    }

    /* nav bar (navagation menu) includes four links, home, about us, listen, sign up */
    #nav-menu {
        font-size: 110%;
        letter-spacing: 20%;
        line-height: 100px;
    }
    #nav-menu li {
        float: right;
        list-style: none;
        margin-right: 5%;
    }
    #nav-menu a {
        text-decoration: none;
        color: inherit;
    }
    #nav-menu a:hover {
        border-bottom: 2px solid #F0EDF5;
    }

    /* for tablet srceen sizes max-width 750px */
    @media screen and (max-width: 750px) {
        #nav-menu {
            font-size: 90%;
        }
    }

    /* for mobile screen sizes max-width 575px */
    @media screen and (max-width: 575px) {
        #nav-menu li {
            text-align: center;
            font-size: 80%;
            float: right;
            margin-left: 30px;
            margin-right: 40px;
    }
}
    /* hero-image class covers styling on home page and about us page */
    .hero-image {
        line-height: 50px;
        max-width: 100%;
    }
    img {
        display: flex;
        width: 100%;
        height:90vh;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        margin: 30px 0px;
    }
    /* wedpage title (wrapped in a box with styling, set on hero image) */
    .main-title-box {
        font-size: 100%;
        position: absolute;
        top: 160px;
        left: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 8px;
        opacity: 0.5;
        color: white;
        background-color: black;
      }
      /* for browser sceen sizes 1200px */
      @media screen and (max-width: 1200px) {
        .main-title-box {
            top: 110px;
        }
    }
    /* for tablet screen sizes 575px */
      @media screen and (max-width: 575px) {
        .main-title-box {
            font-size: 50%;
            margin-left: 30%;
            top: 20%;
        } 
    }

    /* Text Divider (Used to create brake lines between text or images. Gives a clean and simple style to the page.) 
    The text divider only consist's on home page and about us page.) */
    #text-divider {
        width: 100%;
        height: 2px;
        margin:30px 0px 30px 0px;
        background-color: white;
        display: inline-block;
    }
    /* section of text below hero image with title (beginners guide) */
    .beginners-guide, h2 {
        text-align: center;
    }
    
    /* container for mian page images and clickable links to listen page */
    .main-container {
        display: flex;
        max-width: 100%;
    }
    .stories {
        width: 40%;
        float: left;
        margin-left: 30px;
        margin-right: 40px;
        padding: 30px;
    }
    .stories img {
        max-height: 400px;
        border-radius: 8px;
        object-fit: cover;
    }
    .stories a  {
        text-align: center;
        text-decoration: none;
        clear: both;
    }
    /* for moble screen sizes max-width 575px */
    @media screen and (max-width: 575px) {
        .stories {
            display: none;
        }
    }
    
        
    /* about page*/

    /* gives page a title above hero image (who are we) */
    .page-title {
        font-size: 110%;
        position: absolute;
        margin-left: 10%;
        margin-top: 5%;
    }
    /* for tablet srceen sizes max-width 750px */
    @media screen and (max-width: 750px) {
    .page-title {
        font-size: 60%;
        margin-top: 10%;
    }
}
/* for mobile screen sizes max-width 575px */
@media screen and (max-width: 575px) {
        .page-title {
            display: none;
}
}

    /* listen page */

/* section for x5 topics containg an image, text and external links to youtube */
     .section {
        clear: both;
        max-width: 100%;
        display: flex;
        box-sizing: border-box;
        background-color: #66666B;
     }
     .section img {
        border: solid yellow; 
        height: 400px;
        width: 50%;
        object-fit: cover;
        display: flex;
       padding: 20px 10px 20px 10px;
     }
     .text {
        border: solid white;
        width: 50%;
        margin: 20px 20px;
    }
     a {
        list-style: none;
        text-decoration: none;
        clear: both;
     }
     .text h2 {
        color: #B50273;
     }

     a h3 {
        color: #000000;
     }
     /* for moble screen sizes max-width 575px */

    @media screen and (max-width: 575px) {
        .section {
               display: block; 
        }
        .section img {
            width: 100%;
        }
        .text {
            border: solid #B0B0BF;
            width: 100%;
            text-align: center;
        }
    }

     /* sign up form page */

    /* background imqge only used for form (sign up page!) */
    #background-image {
        background-image: url('../assets/images/contact\ us\ page.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    #form-container {
    display: flex;
    margin: 50px 30px 50px 30px;
    height: 600px;
    width: 600px;
    clear: both;
    text-align:center;
    display: flexbox;
    border: solid yellow; 
    }
   
    .signup-form  h2 {
        color: #fafafa;
        margin-bottom: 20px;
    }
    /* styling for input boxes (first, last, username and passsword) */
     input[type=text], input[type=password] {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #B50273; 
        border-radius: 8px;
        box-sizing: border-box;
      }
      /* styling for input boxes (emal) */
     input[type=email] {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #B50273;
        border-radius: 8px;
        box-sizing: border-box;
      }
      
/* Extra style for the submit button (background-color, border radius (submit)) */ 

    #submit-button {
        width: 15%;
        background-color: #fff;
        border-radius: 8px;
        font-size: 20px;
    }
/* Extra styling for Reset button (background color different (pink)from Sumbit button) */
    #reset-button {
        width: 15%;
        background-color: #B50273;
        color: #fff;
        border-radius: 8px;
        font-size: 20px;
    }

    /* socail network icons and links, facebook, instagram, twitter and youtube */
    .social-networking {
        text-align: center;
        display: flexbox;
    }
    .social-networking li {
        display: inline-block;
        margin: 5%;
    }
    /* social network links (facebook, twitter, instagram, youtube) */
    .social-networking a {
        font-size: 170%;
        color: #fff;
    }
    
    /* footer section */
    footer {
        height: 150px;
    }
    /* copy write section*/
    #copyright p {
        font-size: 50%;
        float: left;
        margin-left: 5%;
        margin-bottom: 50px;
    }


        
       
       
        

        
    
            
        
    

    






   
    
    