/*font-style source*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}
body {
    font-family: Permanent Marker, sans-serif; 
    font-size: 170%;
    color: #fff;
    background-color: #3A383B;
    min-height: 100vh;
    width: 100vw;
}
h1, h2 {
    font-family: Permanent Marker, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
    margin: 5px;
}
h3 {
    color: #000000;
}
h3, h4 {
    font-family: Open Sans,sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: #fff
}
p {
    font-family: Open Sans,sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
/* home page */
#main-icon {
    display: flex;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    }
#main-icon i {
    font-size: 300%;
    color: #66666B;   
    clear: both;
    }
#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 100px;
    }
#nav-menu li {
    float: right;
    list-style: none;
    margin-right: 5%;
    }
#nav-menu a {
    text-decoration: none;
    color: inherit;
    }
#nav-menu a:hover {
    border-bottom: 2px solid #F0EDF5;
    }
.hero-image-container {
clear: both;
width: 100%;
display: flex;
}
.hero-image-container img {
width: 100%;
height: 100%;
object-fit: cover;
display: flex;
object-position: center center;
background-attachment: fixed;
}
.main-title-box {
font-size: 100%;
position: absolute;
top: 25%;
left: 30px;
padding-left: 20px;
padding-right: 20px;
border-radius: 8px;
opacity: 0.5;
color: #fff;
background-color: black;
}
/* Text Divider (Used to create brake lines between text or images. Gives a clean and simple style to the page.) 
The text divider only consist's on home page and about us page.) */
.text-divider {
    width: 100%;
    height: 2px;
    margin:30px 0px 30px 0px;
    background-color:#fff;
    display: inline-block;
}
.beginners-guide, h2 {
    text-align: center;
}
.main-container {
    display: flex;
    max-width: 100%;
}
.stories {
    flex: 30%;
    padding: 5px;
    text-align: center;
}
.stories img {
    width: 80%;
    height: 600px;
    border-radius: 8px;
}
.stories a  {
    text-align: center;
    text-decoration: none;
    clear: both;
}

/* about page*/

.page-title {
    font-size: 100%;
    position: absolute;
    margin-left: 10%;
    top: 5%;
}
.about-image-container {
    clear: both;
    width: 100%;
}
.about-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.about-text-wrapper {
    clear: both;
    height: 400px;
    border: solid #B0B0BF;
    border-radius: 8px;
}
.about-text-wrapper, p {
    width: 100%;
    height: 80%;
    text-align: center;
    justify-content: space-between;
    }

/* listen page */

.section {
    clear: both;
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: #66666B;
    }
.section img {
    height: 400px;
    width: 50%;
    object-fit: cover;
    display: flex;
    padding: 20px;
    }
.text {
    justify-content: space-between;
    display: grid;
    border: solid #000000;
    border-radius: 10px;
    width: 50%;
    margin: 20px 20px;
    }
a {
    list-style: none;
    text-decoration: none;
    clear: both;
    }

 .text h2 {
    color: #B50273;
    } 

.text h4 {
    font-size: 80%;
    color: #000000;
     }

     a h3 {
    font-size: 100%;
    color: #B50273;
    }

/* sign up form page */

.background-image{
    background-image: url('../images/pexels-davis-sánchez-3916376.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute 0 0 ;
    background-position: center center;
    height: 100;
    clear: both;
}  
.form-box {
    display: grid;
    border: solid #3A383B;
    box-sizing: border-box;
    width: 50%;
    position: inherit;
    background-color: #B0B0BF;
    margin-top: 30%;
    margin-left: 25%;
    border-radius: 8%;
    opacity: 0.8;
    padding: 30px 40px;
    clear: both;
}
form h1 {
    color: #000000;
}
label {
    width: 30%;
    display: inline-block;
    font-family: Open Sans;
    display: inline-block;
    color: #000000;
}
.form-box input {
    display: inline-block;
    width: 30%;
    border: solid #B50273;
    border-radius: 8px;
}
input[type=text], input[type=email], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #B50273; 
    border-radius: 8px;
    box-sizing: border-box;
    }
#submit-button {
    width: 20%;
    background-color: #fff;
    border-radius: 8px;
    font-size: 50%;
}
#reset-button {
    width: 20%;
    background-color: #B50273;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    }
.social-networking {
    text-align: center;
    clear: both;
    }
.social-networking li {
    display: inline-block;
    margin: 5%;
    }
.social-networking a {
    font-size: 170%;
    color: #fff;
    }
footer {
    height: 150px;
    }
/* copy write section*/
#copyright p {
    font-size: 50%;
    }
/* thank you for signing up / final page */
.thankyou-background {
    background-image: url('../images/thanks-image.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    }
.thankyou-text {
    font-size: 120%;
    margin-left: 5%;
    color: #fff;
    float: left;
    margin-top: 10%;
}
.not-found-page {
    background-color: #fff;
    
}    
/* for tablet screen sizes max-width 768px */
@media screen and (max-width: 768px) {
h2 {
    font-size: 100%;
    }

h4 {
    font-size: 80%;
    }

    p {
        font-size: 80%;
    }
label {
    width: 50%;
    }
}

@media screen and (max-width: 768px) {
#nav-menu {
    font-size: 90%;
    }

.page-title {
    display: none;
    }
    .main-title-box {
        top: 20%;
    }

.stories img {
    height: auto;
}
.thankyou-text {
    font-size: 90%;
}
}

/* for mobile screen sizes max-width 375px*/
@media screen and (max-width: 375px) {
.hero-image-container {
        height: 400px;
    }
}
@media screen and (max-width: 375px) {
.about-image-container {
     height: 100%;
    }

h2 {
    font-size: 100%;
    }

h4 {
    font-size: 60%;
    }
 
p {
    font-size: 60%;
    }
 
#main-icon {
    display: none;
    }
 
#nav-menu li {
    text-align: left;
    font-size: 70%;
    float: none;
    }

.main-title-box {
    font-size: 90%;
    margin-left: 40%;
    } 

.stories {
    display: none;
    }
}
@media screen and (max-width: 375px) {
.page-title h3 {   
    font-size: 90%;
}

.section {
    flex-direction: column;
    }

.section img {
    width: 100%;
    }

.text {
    border: solid #B0B0BF;
    width: fit-content;
    }

.text h3 {
    font-size: 60%;
    }

.text h4 {
    font-size: 60%;
    }

br {
    display: none;
    }
}

@media screen and (max-width: 375px) {
 .background-image {
    background-attachment: fixed;
 }   

.form-box {
    width: 80vw;
    top: 70vh;
    margin-left: 10%;
    margin-top: 0;
}
.form-box h1 {
    font-size: 60%;
    }

label {
    font-size: 60%;
    
    }

#submit-button {
    font-size: 40%;
    display: flex;
    margin: 10% 0;
    width: 40%;
    padding-left: 10%;
    }

#reset-button {
    font-size: 50%;
    display: flex;
    width: 40%;
    padding-left: 10%;
    }

input[type=text], input[type=password] {
    width: 60%;
    height: 5%;
    }

input[type=email] {
    width: 40%;
    height: 0;
    display: inline-block;
    }    

    .background-image {
       background-attachment: fixed;
    }
}
