/*font-style source*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}
body {
    font-family: Permanent Marker, sans-serif; 
    font-size: 170%;
    color: #fff;
    background-color: #3A383B;
}
h1, h2 {
    font-family: Permanent Marker, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
    margin: 5px;
}
h3 {
    color: #000000;
}
/* default sizes and styles for text*/
h3, h4 {
    font-family: Open Sans,sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: #fff
}
p {
    font-family: Open Sans,sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
/* home page */
/* main icon (clickable icon navagates to home sreen) */
#main-icon {
    display: flex;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    }
#main-icon i {
    font-size: 300%;
    color: #66666B;   
    clear: both;
    }
/* nav bar (navagation menu) includes four links, home, about us, listen, sign up */
#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 100px;
    }
#nav-menu li {
    float: right;
    list-style: none;
    margin-right: 5%;
    }
#nav-menu a {
    text-decoration: none;
    color: inherit;
    }
#nav-menu a:hover {
    border-bottom: 2px solid #F0EDF5;
    }
/* hero-image-container, used for styling purposes.  */
.hero-image-container {
clear: both;
width: 100%;
display: flex;
}
.hero-image-container img {
width: 100%;
height: 100%;
object-fit: cover;
display: flex;
object-position: center center;
background-attachment: fixed;
}

/* page title (wrapped in a box with styling, set on header hero image & about us page header image) */
.main-title-box {
font-size: 100%;
position: absolute;
top: 25%;
left: 30px;
padding-left: 20px;
padding-right: 20px;
border-radius: 8px;
opacity: 0.5;
color: #fff;
background-color: black;
}
/* Text Divider (Used to create brake lines between text or images. Gives a clean and simple style to the page.) 
The text divider only consist's on home page and about us page.) */
.text-divider {
    width: 100%;
    height: 2px;
    margin:30px 0px 30px 0px;
    background-color:#fff;
    display: inline-block;
}
/* section of text below hero image with title (beginners guide) */
.beginners-guide, h2 {
    text-align: center;
}
/* container for mian page images and clickable links to listen page */
.main-container {
    display: flex;
    max-width: 100%;
}
.stories {
    text-align: center;
    width: 40%;
    float: left;
    margin-left: 30px;
    margin-right: 40px;
    padding: 30px;
    
}
.stories img {
    max-height: 400px;
    border-radius: 8px;
    object-fit: cover;
}
.stories a  {
    text-align: center;
    text-decoration: none;
    clear: both;
}

/* about page*/

/* gives header a title above hero image (who are we) */
.page-title {
    font-size: 100%;
    position: absolute;
    margin-left: 10%;
    top: 5%;
}
.about-text-wrapper {
    clear: both;
    border: solid yellow;
    height: 400px;
    width: 1000%;
    justify-content: space-between;
}
.about-text-wrapper, p {
    width: 100%;
    height: 80%;
    text-align: center;
    }
/* about-image-container, used for styling purposes */
.about-image-container {
    clear: both;
    width: 100%;
}
.about-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* listen page */
/* section for x5 topics containg an image, text and external links to youtube */
.section {
    clear: both;
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: #66666B;
    }
.section img {
    height: 400px;
    width: 50%;
    object-fit: cover;
    display: flex;
    padding: 20px;
    }
.text {
    justify-content: space-between;
    display: grid;
    border: solid #000000;
    border-radius: 10px;
    width: 50%;
    margin: 20px 20px;
}
a {
    list-style: none;
    text-decoration: none;
    clear: both;
    }
 .text h2 {
    color: #B50273;
    } 
.text h4 {
    font-size: 80%;
    color: #000000;
     }
     a h3 {
    font-size: 100%;
    color: #B50273;
    }

/* sign up form page */
.background-image {
    background-image: url('../images/contact\ us\ page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    }
form h3 {
    margin-top: 50px;
    }
    label {
        display: inline-block;
        clear: left;
        width: 250px;
        text-align: right;
        }
    #form {
        display: flex;
        margin: 50px 30px 50px 30px;
        height: 600px;
        width: 600px;
        clear: both;
        text-align:center;
        border: solid yellow;
        border-radius: 10px; 
        }
    .signup-form  h2 {
        color: #fafafa;
        margin-bottom: 20px;
        }
    /* styling for input boxes (first, last, username and passsword) */
    input[type=text], input[type=password] {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #B50273; 
        border-radius: 8px;
        box-sizing: border-box;
        }
    /* styling for input boxes (emal) */
    input[type=email] {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #B50273;
        border-radius: 8px;
        box-sizing: border-box;
        }
    /* styling for input boxes (emal) */
    #submit-button {
        width: 15%;
        background-color: #fff;
        border-radius: 8px;
        font-size: 20px;
        }
/* Extra styling for Reset button (background color different (pink)from Sumbit button) */
#reset-button {
    width: 20%;
    background-color: #B50273;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    }
/* socail network icons and links, facebook, instagram, twitter and youtube */
.social-networking {
    text-align: center;
    clear: both;
    }
.social-networking li {
 
    display: inline-block;
    margin: 5%;
    }
/* social network links (facebook, twitter, instagram, youtube) */
.social-networking a {
    font-size: 170%;
    color: #fff;
    }
/* footer section */
footer {
    height: 150px;
    }
/* copy write section*/
#copyright p {
    font-size: 50%;
    }
/* thank you for signing uo page / final page */
.thankyou-background {
    background-image: url('../images/thanks-image.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    }
.thankyou-text {
    font-size: 120%;
    margin-left: 5%;
    color: #fff;
    float: left;
    margin-top: 10%;
}
    
/* for tablet screen sizes max-width 768px */
@media screen and (max-width: 768px) {
h2 {
    font-size: 100%;
    }
}
@media screen and (max-width: 768px) {
h4 {
    font-size: 80%;
    }
}
@media screen and (max-width:768px) {
    p {
        font-size: 80%;
    }
}
@media screen and (max-width: 768px) {
#nav-menu {
    font-size: 90%;
    }
}
@media screen and (max-width: 768px) {
.page-title {
    display: none;
    }
    .main-title-box {
        top: 15%;
    }
}
.thankyou-text {
    font-size: 90%;
}
/* for mobile screen sizes max-width 375px*/
@media screen and (max-width: 375) {
.hero-image-container {
        height: 400px;
    }
}
@media screen and (max-width: 375px) {
.about-image-container {
     height: 100%;
    }
}
@media screen and (max-width: 375px) {
h2 {
    font-size: 100%;
    }
}
@media screen and (max-width: 375px) {
h4 {
    font-size: 60%;
    }
 }
 @media screen and (max-width:375px) {
p {
    font-size: 60%;
    }
 }
@media screen and (max-width: 375px) {
#main-icon {
    display: none;
    }
 }
 @media screen and (max-width: 375px) {
#nav-menu li {
    text-align: left;
    font-size: 70%;
    float: none;
    }
}
@media screen and (max-width: 375px) {
.main-title-box {
    font-size: 90%;
    margin-left: 40%;
    } 
}
@media screen and (max-width: 375px) {
.stories {
    display: none;
    }
}
@media screen and (max-width: 375px) {
.page-title h3 {   
    font-size: 90%;
}
}
@media screen and (max-width: 375px) {
.section {
    flex-direction: column;
    }
.section img {
    width: 100%;
    }
.text {
    border: solid #B0B0BF;
    width: fit-content;
    }
.text h3 {
    font-size: 60%;
    }
.text h4 {
    font-size: 60%;
    }
br {
    display: none;
    }
}